name: Run TypeScript Script

# this doesnt work

on:
  workflow_dispatch:
  # push:
  #   branches:
  #     - main

jobs:
  run-ts-script:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout code
      - name: Checkout Repository
        uses: actions/checkout@v4

      # Step 2: Set up Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '20'

      # Step 3: Install Dependencies
      # - name: Install Dependencies
      #   run: |
      #     npm install
      #     npm install -g typescript

      # Step 4: Compile TypeScript
      - name: Compile TypeScript
        # run: tsc scripts/update-readme-blog-posts.ts
        run: tsc /update-readme-blog-posts.ts

      # Step 5: Run Compiled JavaScript
      - name: Run Script
        # run: node  scripts/update-readme-blog-posts.ts
        run: node  /update-readme-blog-posts.ts
        
